*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}
h2{
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
    line-height: 90%;
}
p strong{
    color: #F0000050;
}
.texto-verde{
    color:#00ff00;
}
.bg-laranja{
    background-color: #ff4d00;
}